{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}

	{{ include('form.html.twig') }}
		<div id="titre_liste">Durée Moyenne des films :
		</div>
	</p><div id="list">
	{{ duree }}</div>
{% endblock %}
