{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}

	<h3>{{titre_liste}}</h3>

	<div id="list">
		{% for genre in genres %}
			<p>
				<a href="{{ path('supprimer_genre', { 'id': genre.id }) }}">
					{{genre.nom}}</a>
			</p>
		{% endfor %}
	</div>

{% endblock %}
