{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}
	{{ include('form.html.twig') }}
	<a href="{{path('modifier_film', { 'id': film.id }) }}">Abandonner</a>
{% endblock %}
