{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}
	<div id="form">
		{{ form(formulaire) }}
		</div>
		<div id="list">
			{% for film in films %}
				<p>
					<a href="{{ path('detail_film', { 'id': film.id }) }}">
						{{film.titre}}</a>
				</p>
			{% endfor %}
		</div>


	{% endblock %}
