<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Cineland</title>
	</head>
	<body>
		<div id="navigation"></div>
		<h1>
			{% block titre %}
				Cineland
			{% endblock %}
		</h1>
		<div id="contenu"> {% block contenu %}{% endblock %}
			</div>
			<hr/>
			<div id="pied_de_page"></div>
			<a href="{{ path('menu')}}">Menu</a>
	</body>
</html>
