{% extends "first_layer.html.twig" %}
{% block titre %}

	{{ parent() }}
{% endblock %}
{% block contenu %}

	<div id="titre_liste">{{titre_liste}}</div>
	<div id="list">
		{% for acteur in acteurs %}
			<p>
				<a href="{{ path('detail_acteur', { 'id': acteur.id }) }}">
					{{acteur.nomPrenom}}</a>
			</p>
		{% endfor %}
	</div>


{% endblock %}
